//RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: inline-block;
}

//COMMON
.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.title-uppercase {
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}