header {
    a {
        padding-left: 1.8rem;
    }
    .header-top {
        text-align: end;
        text-transform: uppercase;
        font-size: 10px;
        padding: 3px 4rem;
        background-color: $brand_color;
        color: white;
    }

    .header-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: $main_color;
        font-size: 13px;

        .logo {
            padding: 1rem;
            img {
                width: 70px;
                display: inline-block;
            }
        }

        li {
            &.current {
                color: $brand_color;
                text-decoration: underline;
            }
        }
    }
}